# Editor directories
.vscode/

# Visual Studio Project Files
.vs/
**.user
**.sln
**.vcxproj
**.vcxproj.filters
**.csproj

# Binary files
**/bin/
bin-int/
Intermediates/

# MakeFile
**/MakeFile
**.make

# Profile
**.profile.json
